<!DOCTYPE html>
<html>
    <head>
        <title>Support Bot Manage</title>
    </head>
    <body>
        <h1>Support Bot Manage</h1>
        <p>
            <form action="/uploader" method="post" enctype="multipart/form-data">
                Conversation File: <input type="file" name="file">
                <input type="submit" value="Upload">
            </form>
            <hr>
            <h1>Thumbnail</h1>

            <hr
            <a href="/manage">Manage</a>
        </p>
    </body>
</html>
